.env
*.pyc
__pycache__/
.venv/
node_modules/
dist/
build/
.DS_Store
data/mariadb/
data/golbat/
data/koji/
logs/
services/dragonite/binary/dragonite
services/rotom-ng/dist/
services/reactmap/node_modules/
services/cosmog/apk/*.apk
config/rendered/*
!config/rendered/.gitkeep
config/cosmog/rendered/*.json
!config/cosmog/rendered/.gitkeep
config/exeggcute/rendered/*.json
!config/exeggcute/rendered/.gitkeep
services/exeggcute/debs/*.deb
services/exeggcute/ipa/*.ipa
config/exeggcute/id_*
