[database]
host = "mariadb"
port = 3306
user = "pogo"
password = "change-me-pogo"
db = "poracle"

[server]
host = "0.0.0.0"
port = 3030
apiSecret = "change-me-poracle"

[scanner]
scanner_type = "golbat"
